services:
  db:
    image: postgres:16-alpine
    container_name: studio_translator_db
    restart: always
    environment:
      POSTGRES_DB: translator_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: