spring:
  application:
    name: studio-translator-backend

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: jdbc:postgresql://localhost:5432/translator_db
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

  jackson:
    time-zone: UTC


  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}

application:
  google:
    credentials-path: credentials.json
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 86400000 # 1 day
      refresh-token:
        expiration: 604800000 # 7 days

# application.google.credentials-path:credentials.json
